.campaign-form {
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Disables horizontal scrolling */
  margin: auto;
  height: 65%;
}

.mui-icon-primary {
  color: red;
  text-color: red;
  background-color: red;
}
